{% extends 'base.html' %}

{% block page_title %}
    Your Lists
{% endblock page_title %}


{% block content %}
    <div class="row">
        <a href="{% url 'lists:create' %}" class="btn btn-primary pull-right" style="margin: 0 15px 10px 0">
            Create New
        </a>
    </div>
    <div class="row">
        {% for list in object_list %}
            <div class="col-lg-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <h3>
                            <a href="{% url 'lists:detail' list.id %}">
                                <i class="fa fa-list"></i> {{ list.name }}
                            </a>
                        </h3>
                        <small>Created at: {{ list.created_at }}</small>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <h3>Please add some lists...</h3>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}